
.node-title-input {
    outline: none;
    border: none;
    background-color: inherit;
    color: #787c96;
    font-family: inherit;
    font-weight: bold;         
    font-size: 28px;
    margin: 16px 0;
}

.node-input::placeholder {
    color:  #d8d8d8;
}
.node-input::-webkit-input-placeholder {
    color:  #d8d8d8;
}
.node-input::-moz-placeholder {
    color:  #d8d8d8;
}
.node-input::-ms-input-placeholder {
    color:  #d8d8d8;
}
.node-input::-moz-placeholder {
    color:  #d8d8d8;
}
