
.unauthed-container {
    position: relative;
    margin-top: 224px;
    padding: 126px 39px 39px 35px;
    border-radius: 4px;
    background-color: #f7f7f7;
    color: #a5a9ac;
    font-size: 28px;
    box-shadow: 0 60px 100px 0 rgba(0, 0, 0, 0.13);
    text-align: center;
}

.unauthed-logo {
    position: absolute;
    top: -60px;
    left: calc(50% - 60px);
}

.unauthed-field {
    background-color: #ffffff;
    height: 49px;
}
.unauthed-field-icon {
    width: 48px;
}
.unauthed-field-input {
    outline: none;
    border: 0;
    width: 351px;
    height: 100%;
    background-color: inherit;
    font-family: inherit;
    font-size: 24px;
}
.unauthed-field-input::-webkit-input-placeholder {
    color: #a5a9ac;
}
.unauthed-field-input:-moz-placeholder {
    color: #a5a9ac;
}
.unauthed-field-input::-moz-placeholder {
    color: #a5a9ac;
}
.unauthed-field-input:-ms-input-placeholder {
    color: #a5a9ac;
}

.unauthed-button {
    border: 0;
    width: 399px;
    height: 49px;
    border-radius: 4px;
    font-family: inherit;
    font-size: 24px;
    font-weight: bold;
    color: #ffffff;
    background-color: #f852a9;
    box-shadow: 0 1px 4px 0 rgba(154, 154, 154, 0.5);
}

.unauthed-footer {
    position: relative;
    color: #ffffff;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
}
.unauthed-footer-swap {
    position: absolute;
    top: 20px;
    right: 1px;
}
.unauthed-footer-forgot {
    position: absolute;
    top: 20px;
    left: 1px;
}